# python Data types

In [43]:

value_string = 'hola'
value_number = 2
value_float = 1.2

# Array

In [44]:
test_array = [value_string, value_number, value_float]
test_num = [0,2,3,4,5,6,7]

In [45]:
test_array = [value_string, value_number, 'test']

In [46]:

print(test_array[0])

print(test_array)
print(test_num)

sum(test_num)

hola
['hola', 2, 'test']
[0, 2, 3, 4, 5, 6, 7]

27

In [47]:
len(test_array)
print(test_array)

['hola', 2, 'test']

# Tuple

In [48]:
# tuple
test_tuple = (1, 2, 3, 1)
print(test_tuple)

(1, 2, 3, 1)

In [49]:
test_tuple[0]

1

# Dictionarie

In [50]:
test_dic = {
    "uno" : 1,
    "dos" : 2,
}

In [51]:
test_dic['uno']

1

In [52]:
rh_data = {
    "departameto" : "RH",
    "empleados" : ['juan', 'pedro', 'paco'],
    "nivel": 123
}


servers = {
    "windows" : ['server-0', 'server-1', 'server-2'],
    "linux" : ['server-0', 'server-1'],
    "usuarios": ['juan', 'pedro', 'paco', 'admin']
}

In [63]:
print(type(test_num))
print(type(servers))

print(type(servers['windows']))
servers['windows']

<class 'list'>
<class 'dict'>
<class 'list'>

['server-0', 'server-1', 'server-2']

In [65]:
for server in servers['windows']:
    print(server)


for number in test_num:
    print(number)

server-0
server-1
server-2
0
2
3
4
5
6
7

In [72]:
for key, value in servers.items():
    print(key, value)

windows ['server-0', 'server-1', 'server-2']
linux ['server-0', 'server-1']
usuarios ['juan', 'pedro', 'paco', 'admin']
0 windows
1 linux
2 usuarios

In [ ]:

for index, key in enumerate(servers):
    print(index, key)